<nav class="site-header sticky-top py-1">
        <div class="container-fluid d-flex flex-column flex-md-row justify-content-between">
                <a class="py-2 logo" href="#">
                        <img src="img/logo.png" height="21">&nbsp;&nbsp;&nbsp;<span class="logo-text">AUTOREMIND</span>
                </a>

                <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" id="search" type="search" placeholder="Search For Client"
                                aria-label="Search">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                </form>
                <div class="btn-group">
                        <button type="button"
                                class="py-2 d-none d-md-inline-block btn btn-outline-light dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Ted Pedersen
                        </button>
                        <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Logout</a>
                        </div>
                </div>

        </div>
</nav>

<div class="container-fluid">
        <table class="table table-striped cal">
                <thead>
                        <tr>
                                <th scope="col">Mon</th>
                                <th scope="col">Tues</th>
                                <th scope="col">Wed</th>
                                <th scope="col">Thurs</th>
                                <th scope="col">Fri</th>
                                <th scope="col">Sat</th>
                                <th scope="col">Sun</th>
                        </tr>
                </thead>
                <tbody>
                        <tr>
                                <td><span class="badge badge-secondary">AUG 24</span><br>13 Reminders sent</td>
                                <td><span class="badge badge-secondary">AUG 25</span><br>29 Reminders sent</td>
                                <td><span class="badge badge-secondary">AUG 26</span><br>21 Reminders sent</td>
                                <td><span class="badge badge-secondary">AUG 27</span><br>8 Reminders sent</td>
                                <td><span class="badge badge-info">AUG 28</span><br>24 Reminders <a
                                                class="btn btn-primary btn-sm" data-toggle="modal"
                                                data-target="#editModal">EDIT</a></td>
                                <td><span class="badge badge-info">AUG 29</span><br>0 Reminders <a
                                                class="btn btn-primary btn-sm">EDIT</a></td>
                                <td><span class="badge badge-info">AUG 30</span><br>5 Reminders <a
                                                class="btn btn-primary btn-sm">EDIT</a></td>
                        </tr>
                        <tr>
                                <td><span class="badge badge-info">AUG 31</span><br>17 <a
                                                class="btn btn-primary btn-sm">EDIT</a></td>
                                <td><span class="badge badge-info">SEPT 1</span><br>12 Reminders <a
                                                class="btn btn-primary btn-sm">EDIT</a></td>
                                <td><span class="badge badge-info">SEPT 2</span><br>2 Reminders <a
                                                class="btn btn-primary btn-sm">EDIT</a></td>
                                <td><span class="badge badge-info">SEPT 3</span><br>8 Reminders <a
                                                class="btn btn-primary btn-sm">EDIT</a></td>
                                <td><span class="badge badge-info">SEPT 4</span><br>21 Reminders <a
                                                class="btn btn-primary btn-sm">EDIT</a></td>
                                <td><span class="badge badge-info">SEPT 5</span><br>0 Reminders <a
                                                class="btn btn-primary btn-sm">EDIT</a></td>
                                <td><span class="badge badge-info">SEPT 6</span><br>24 Reminders <a
                                                class="btn btn-primary btn-sm">EDIT</a></td>
                        </tr>
                        <tr>
                                <td><span class="badge badge-info">SEPT 7</span><br>26 Reminders <a
                                                class="btn btn-primary btn-sm">EDIT</a></td>
                                <td><span class="badge badge-info">SEPT 8</span><br>2 Reminders <a
                                                class="btn btn-primary btn-sm">EDIT</a></td>
                                <td><span class="badge badge-info">SEPT 9</span><br>17 Reminders <a
                                                class="btn btn-primary btn-sm">EDIT</a></td>
                                <td><span class="badge badge-info">SEPT 10</span><br>18 Reminders <a
                                                class="btn btn-primary btn-sm">EDIT</a></td>
                                <td><span class="badge badge-info">SEPT 11</span><br>9 Reminders <a
                                                class="btn btn-primary btn-sm">EDIT</a></td>
                                <td><span class="badge badge-info">SEPT 12</span><br>0 Reminders <a
                                                class="btn btn-primary btn-sm">EDIT</a></td>
                                <td><span class="badge badge-info">SEPT 13</span><br>25 Reminders <a
                                                class="btn btn-primary btn-sm">EDIT</a></td>
                        </tr>
                        <tr>
                                <td><span class="badge badge-info">SEPT 14</span><br>26 Reminders <a
                                                class="btn btn-primary btn-sm">EDIT</a></td>
                                <td><span class="badge badge-info">SEPT 15</span><br>28 Reminders <a
                                                class="btn btn-primary btn-sm">EDIT</a></td>
                                <td><span class="badge badge-info">SEPT 16</span><br>20 Reminders <a
                                                class="btn btn-primary btn-sm">EDIT</a></td>
                                <td><span class="badge badge-info">SEPT 17</span><br>23 Reminders <a
                                                class="btn btn-primary btn-sm">EDIT</a></td>
                                <td><span class="badge badge-info">SEPT 18</span><br>27 Reminders <a
                                                class="btn btn-primary btn-sm">EDIT</a></td>
                                <td><span class="badge badge-info">SEPT 19</span><br>0 Reminders <a
                                                class="btn btn-primary btn-sm">EDIT</a></td>
                                <td><span class="badge badge-info">SEPT 20</span><br>24 Reminders <a
                                                class="btn btn-primary btn-sm">EDIT</a></td>
                        </tr>


                </tbody>
        </table>

        {{> model}}
</div>

